{{#if isMiultipleChoice }}
  {{#if isMiultipleAnswer}}
    {{multiple-answer 
      choices=choices 
      identifier=identifier 
      headline=headline 
      questionIndex=questionIndex
      nextQuestionId=nextQuestionId
    }}
  {{else}}
    {{single-answer 
      choices=choices 
      identifier=identifier 
      headline=headline 
      questionIndex=questionIndex
      nextQuestionId=nextQuestionId
    }}
  {{/if}}
{{/if}}

{{#if isText }}
  {{free-text 
    identifier=identifier 
    headline=headline 
    questionIndex=questionIndex
    nextQuestionId=nextQuestionId
  }}
{{/if}}
