<div class="free-text-container" >
  <input class="free-text" placeholder="Type your answer here..." type="text">
  <div class="free-text-button-container slide-up">
    <button class="free-text-button"  onclick={{action "onEnter"}}>ok</button>
  </div>
</div>