<ul class="single-answer-list">
  <li class="single-answer shine">
    <span class="single-answer-index">
      <span class="single-answer-index-dot"></span>
    </span>
    <span class="single-answer-title"></span>
  </li>
</ul>