<div class="question-container" id={{questionId}}>
  {{question-tags headline=headline index=index }}
  {{answer-container 
    question=question 
    identifier=identifier 
    questionIndex=index 
    nextQuestionId=nextQuestionId
  }}
</div>