<ul class="single-answer-list">
  {{#each choices as |choice index|}}
    <li 
      role="button" 
      class="single-answer {{if (eq index answerIndex) "shine single-answer-active"}}"
      onclick={{action "setActiveAnswer" choice.value index headline identifier }}
    >
      <span class="single-answer-index">{{list-style index}}</span>
      <span class="single-answer-title">{{choice.label}}</span>
    </li>
  {{/each}}
</ul> 