<div class="welcome-container">
  <div></div>
  <div class="welcome-form">
    <div class="welcome-text">
      {{description}}
    </div>
    <button  class="welcome-middle-button" onclick={{action "proceed"}}>
      Start!
    </button>
  </div>
  <div class="welcome-bottom-button-container">
    <button class="welcome-bottom-button" onclick={{action "proceed"}}>
      Start!
    </button>
  </div>
</div>