/* Normalize */

@import url('https://fonts.googleapis.com/css?family=Raleway');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
}

input,
button,
select {
    font-family: 'Raleway', sans-serif;
}

html,
body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
body{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,0.6)), url(https://res.cloudinary.com/dpmxguze6/image/upload/v1542066947/Confetti-Doodles.svg);
}

* {
    box-sizing: border-box;
}


/* --end-- */


/* Free Text Input */

.free-text {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: block;
    resize: none;
    background: none;
    outline: none;
    border: 2px dashed #003A51;
    border: 2px dashed rgba(0, 58, 81, 0.4);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #003A51;
    font-size: 17px;
    line-height: 17px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.free-text-container {
    position: relative;
}

.free-text-button {
    display: inline-block;
    cursor: default;
    background-color: #52B4E3;
    padding: 0px 24px 0 24px;
    width: auto;
    height: 35px;
    line-height: 28px;
    font-size: 19px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center;
    font-weight: bold;
    max-width: 610px;
    overflow: hidden;
    -moz-transition: background-color ease-out 100ms 0ms;
    -webkit-transition: background-color ease-out 100ms 0ms;
    -o-transition: background-color ease-out 100ms 0ms;
    transition: background-color ease-out 100ms 0ms;
    color: #125270;
    -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
}

.free-text-button-container {
    outline: none;
    position: absolute;
    top: 4px;
    right: 5px;
}

.free-text-button-description {
    font-size: 12px;
    letter-spacing: .3px;
    line-height: 17px;
    font-weight: 400;
    margin-left: 10px;
    white-space: nowrap;
    color: #003A51;
    font-family: 'Raleway', sans-serif;
    display: none;
}

@media(min-width:1025px) {
    .free-text {
        display: block;
        width: 100%;
        font-family: inherit;
        color: rgb(0, 58, 81);
        -webkit-appearance: none;
        font-size: 30px;
        line-height: 38px;
        -webkit-font-smoothing: antialiased;
        padding: 0px 0px 8px;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        outline: none;
        border-radius: 0px;
        transition: box-shadow 0.2s ease 0s;
        background: none;
        font-family: 'Raleway', sans-serif;
        outline: none;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .free-text:focus {
        box-shadow: rgba(0, 58, 81, 0.3) 0px 1px;
    }
    .free-text-button-description {
        display: inline-block;
    }
    .free-text-button-container {
        outline: none;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 15px;
        bottom: 0;
        left: 0;
    }
    .slide-up {
        animation-name: slide;
        animation-duration: 1s;
    }
    @keyframes slide {
        from {
            transform: translateY(4px)
        }
        to {
            transform: translateY(0)
        }
    }
}


/* --end-- */


/* Single Answer List */

.single-answer-list {
    display: inline-flex;
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-box-align: stretch;
    align-items: stretch;
    list-style: none;
    padding: 0;
}

.single-answer {
    margin-right: 0px;
    margin-bottom: 8px;
    max-width: 100%;
    width: 100%;
    min-height: 40px;
    color: rgb(0, 58, 81);
    background-color: rgba(0, 58, 81, 0.1);
    box-shadow: rgba(0, 58, 81, 0.8) 0px 0px 0px 1px inset;
    cursor: pointer;
    opacity: 1;
    height: auto;
    border-radius: 4px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

.single-answer:hover {
    background: rgba(0, 58, 81, 0.2);
}

.single-answer-index {
    box-shadow: transparent 0px 0px 0px 1px;
    margin: 8px;
    position: relative;
    font-size: 12px;
    line-height: 16px;
    font-family: sans-serif;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 58, 81);
    border-image: initial;
    border-radius: 2px;
    width: 22px;
    height: 22px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 58, 81, 0.2);
    color: rgb(0, 58, 81);
    transition: all 0.4s ease-in-out;
}

.single-answer-active {
    box-shadow: rgba(0, 58, 81, 0.8) 0px 0px 0px 2px inset;
}

.single-answer-active .single-answer-index {
    background: rgb(0, 58, 81);
    color: rgb(235, 240, 242);
}

.single-answer-title {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    min-width: 75px;
    min-height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px 12px 4px 0px;
    font-size: 18px;
    line-height: 28px;
    margin: 0px;
}

.shine {
    animation-name: shine;
    animation-duration: 1s;
}

.single-answer-index-dot {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    transition: all .5s ease-in-out;
}

.single-answer-index-dot-active {
    background-color: rgba(0, 58, 81, 0.8);
}

@keyframes shine {
    0% {
        background: rgba(0, 58, 81, 0.8);
    }
    50% {
        background: rgba(255, 255, 255, .5);
    }
    100% {
        background: rgba(0, 58, 81, 0.1);
    }
}


/* --end-- */


/* Question Wrapper*/

.question-tag-container {
    display: block;
    max-width: 750px;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 400;
    justify-content: flex-start
}

.question-index {
    letter-spacing: -0.1em;
    color: #3C3C3C;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    line-height: 140%;
    text-align: left;
    padding: 20px;
    font-size: 19px;
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    padding-top: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -20px;
    top: 23px;
}

.question-index span {
    position: absolute;
    top: -6px;
    right: 10px;
}

.question {
    color: #3C3C3C;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    line-height: 140%;
    text-align: left;
    font-size: 19px;
    padding: 20px;
    font-size: 19px;
    display: inline-flex;
    align-items: center;
    padding-left: 0;
}


/*--end*--/

/* Question Container */

.question-container {
    display: block;
    padding: 0 40px;
    max-width: 750px;
    margin: 20% auto;
    position: relative;
}

@media(min-width:1025px) {
    .question-container {
        box-sizing: border-box;
        padding-top: 24px;
        padding-bottom: 24px;
        width: 100%;
        max-width: 840px;
        padding-left: 70px;
        padding-right: 70px;
        margin: 4% auto;
    }
}


/* --end-- */


/* --Welcome Screen-- */

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    max-height: 100vh;
   
}

.welcome-form {
    color: #3C3C3C;
    font-size: 22px;
    line-height: 140%;
    padding: 20px;
    max-width: 750px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    align-items: center;
}

.welcome-bottom-button-container {
    height: 80px;
    padding: 15px;
    overflow: hidden;
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-bottom-button {
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: #52B4E3;
    line-height: 36px;
    font-size: 21px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center;
    font-weight: bold;
    font-family: "Karla", "Helvetica Neue", sans serif;
    max-width: 610px;
    overflow: hidden;
    -moz-transition: background-color ease-out 100ms 0ms;
    -webkit-transition: background-color ease-out 100ms 0ms;
    -o-transition: background-color ease-out 100ms 0ms;
    transition: background-color ease-out 100ms 0ms;
    color: #125270;
    -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    border: none;
}

.welcome-middle-button {
    display: none;
}

@media(min-width:600px) {
    .welcome-bottom-button-container {
        opacity: 0;
        pointer-events: none;
    }
    .welcome-middle-button {
        margin-top: 32px;
        display: inline-block;
        position: relative;
        font-family: inherit;
        cursor: pointer;
        white-space: nowrap;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
        min-height: 48px;
        background-color: rgb(82, 180, 227);
        color: rgb(8, 34, 47);
        transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, opacity 0.2s ease 0s;
        outline: none;
        border-width: 1px;
        border-style: solid;
        border-image: initial;
        padding: 6px 18px 8px;
        border-color: transparent;
        border-radius: 4px;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
    }
}


/* --end-- */


/** --All Questions Container**/

.all-questions-container {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 15% 0;
   
    animation-name: fade-and-slide-in;
    animation-duration: 1s;
}
@keyframes fade-and-slide-in {
    0% {
        opacity: 0.2;
        transform: translateY(100px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
@media(max-width:600px) {
    .all-questions-container {
        padding-top: 50%;
        padding-bottom: 50%;
    }
}


/* --end-- */